// ? @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@
// [data-page-name=example] {
    @include media-breakpoint(basic) {
        .productDetails {
            & .productImagSide {
                & .productImgSlider {
                    & .owl-nav {
                        display: none;
                    }
                    & .owl-dots {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin: 0px auto;
                        & button {
                            width: 70px;
                            height: 70px;
                            border: none;
                            border-bottom: 2px solid transparent;
                            transition: ease-in-out .3s;
                            &.active {
                                border-color: $theme1;
                            }
                            & span {
                                display: flex;
                                background: url(../img/product/headphone.png) no-repeat, center;
                                background-size: contain;
                                height: 100%;
                            }
                        }
                    }
                }
            }
            & .productFullDetails {
                & .contantsDetails {
                    & .moreProduct {
                        & a {
                            font-size: 12px;
                        }
                    }
                    & .productNmae {
                        font-size: 30px;
                    }
                    & .rating {
                        & .ratingList {
                        }
                        & .customerRating {
                            font-size: 12px;
                        }
                    }
                    & .brandingLogo {
                        width: 100px;
                    }
                    & .productFithur {
                        & ul {
                            & li {
                                font-size: 14px;
                            }
                        }
                    }
                    & .productDiscuription {
                        font-size: 14px;
                    }
                    & .productCode {
                        font-size: 16px;
                    }
                }
                & .offerDetails {
                    & .availabilityProduct {
                        font-size: 14px;
                        border-bottom: 1px solid rgba($secondary, 0.2);
                    }
                    & .productValue {
                        font-size: 25px;
                    }
                    & .chouseInputBtn {
                        &  input{
                            max-width: 100px;
                            font-size: 14px;
                        }
                    }
                    & .addCart {
                        & .addCartBtn {
                            font-size: 14px;
                            transition: all ease-in-out 0.3s;
                            &:hover{
                                background-color: $black;
                            }
                        }
                        & .payLinkBtn {
                            transition: ease-in-out .3s;
                            font-size: 14px;
                            &:hover {
                                &.bg-opacity-75 {
                                    --bs-bg-opacity: 1;
                                }
                            }
                        }
                    }
                    
                    & .diveider {
                        font-size: 12px;
                        &::after, &::before {
                            content: '';
                            display: block;
                            width: 12px;
                            height: 1px;
                            background-color: $black;
                        }
                    }
                    & .morebuttons {
                        & a {
                            font-size: 12px;
                            & img {
                                width: 16px;
                            }
                        }
                    }
                }
            }
        }
        .productDecription {

        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}

    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {
        .productDetails {
            & .productImagSide {
                & .productImgSlider {
                    & .owl-nav {
                    }
                    & .owl-dots {
                        & button {
                            & span {
                            }
                        }
                    }
                }
            }
            & .productFullDetails {
                & .contantsDetails {
                    & .moreProduct {
                        & a {
                        }
                    }
                    & .productNmae {
                        font-size: 24px;
                    }
                    & .rating {
                        & .ratingList {
                        }
                        & .customerRating {
                        }
                    }
                    & .brandingLogo {
                    }
                    & .productFithur {
                        & ul {
                            & li {
                            }
                        }
                    }
                    & .productDiscuription {
                    }
                    & .productCode {
                        font-size: 14px;
                    }
                }
                & .offerDetails {
                    & .availabilityProduct {
                    }
                    & .productValue {
                    }
                    & .chouseInputBtn {
                        & input{
                        }
                    }
                    & .addCart {
                        & .addCartBtn {
                            &:hover{
                            }
                        }
                        & .payLinkBtn {
                            &:hover {
                                &.bg-opacity-75 {
                                }
                            }
                        }
                    }
                    
                    & .diveider {
                        &::after, &::before {
                        }
                    }
                    & .morebuttons {
                        & a {
                            & img {
                            }
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {}

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {
        .productDetails {
            & .productImagSide {
                & .productImgSlider {
                    & .owl-nav {
                    }
                    & .owl-dots {
                        & button {
                            width: 50px;
                            height: 50px;
                            &.active {
                            }
                            & span {
                            }
                        }
                    }
                }
            }
            & .productFullDetails {
                & .contantsDetails {
                    & .moreProduct {
                        & a {
                        }
                    }
                    & .productNmae {
                        font-size: 18px;
                    }
                    & .rating {
                        & .ratingList {
                        }
                        & .customerRating {
                            font-size: 12px;
                        }
                    }
                    & .brandingLogo {
                        width: 80px;
                    }
                    & .productFithur {
                        & ul {
                            & li {
                                font-size: 12px;
                            }
                        }
                    }
                    & .productDiscuription {
                        font-size: 12px;
                    }
                    & .productCode {
                        font-size: 14px;
                    }
                }
                & .offerDetails {
                    & .availabilityProduct {
                        font-size: 12px;
                        border-bottom: 1px solid rgba($secondary, 0.2);
                    }
                    & .productValue {
                        font-size: 16px;
                    }
                    & .chouseInputBtn {
                        &  input{
                            font-size: 12px;
                        }
                    }
                    & .addCart {
                        & .addCartBtn {
                            font-size: 12px;
                            &:hover{
                            }
                        }
                        & .payLinkBtn {
                            font-size: 12px;
                            &:hover {
                            }
                        }
                    }
                    
                    & .diveider {
                        font-size: 10px;
                        &::after, &::before {
                            width: 10px;
                        }
                    }
                    & .morebuttons {
                        & a {
                            font-size: 10px;
                            & img {
                                width: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
// }

[data-bs-theme=dark] {
    // & [data-page-name=example] {
        @include dark-media-breakpoint(basic) {
            
        }
        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    // }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@

