// ? @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@
// [data-page-name=example] {
    @include media-breakpoint(basic) {
        .productDetails {
            & .productImagSide {
                & .productImgSlider {
                    & .owl-nav {
                        display: none;
                    }
                    & .owl-dots {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin: 0px auto;
                        & button {
                            width: 70px;
                            height: 70px;
                            border: none;
                            border-bottom: 2px solid transparent;
                            transition: ease-in-out .3s;
                            &.active {
                                border-color: $theme1;
                            }
                            & span {
                                display: flex;
                                background: url(../img/product/headphone.png) no-repeat, center;
                                background-size: contain;
                                height: 100%;
                            }
                        }
                    }
                }
            }
            & .productFullDetails {
                & .contantsDetails {
                    & .moreProduct {
                        & a {
                            font-size: 12px;
                        }
                    }
                    & .productNmae {
                        font-size: 30px;
                    }
                    & .rating {
                        & .ratingList {
                        }
                        & .customerRating {
                            font-size: 12px;
                        }
                    }
                    & .brandingLogo {
                        width: 100px;
                    }
                    & .productFithur {
                        & ul {
                            & li {
                                font-size: 14px;
                            }
                        }
                    }
                    & .productDiscuription {
                        font-size: 14px;
                    }
                    & .productCode {
                        font-size: 16px;
                    }
                }
                & .offerDetails {
                    & .availabilityProduct {
                        font-size: 14px;
                        border-bottom: 1px solid rgba($secondary, 0.2);
                    }
                    & .productValue {
                        font-size: 25px;
                    }
                    & .chouseInputBtn {
                        &  input{
                            max-width: 100px;
                            font-size: 14px;
                        }
                    }
                    & .addCart {
                        & .addCartBtn {
                            font-size: 14px;
                            transition: all ease-in-out 0.3s;
                            &:hover{
                                background-color: $black;
                            }
                        }
                        & .payLinkBtn {
                            transition: ease-in-out .3s;
                            font-size: 14px;
                            &:hover {
                                &.bg-opacity-75 {
                                    --bs-bg-opacity: 1;
                                }
                            }
                        }
                    }
                    
                    & .diveider {
                        font-size: 12px;
                        &::after, &::before {
                            content: '';
                            display: block;
                            width: 12px;
                            height: 1px;
                            background-color: $black;
                        }
                    }
                    & .morebuttons {
                        & a {
                            font-size: 12px;
                            & img {
                                width: 16px;
                            }
                        }
                    }
                }
            }
        }
        .productDecription {
            & .tabsOuter {
                & .nav {
                    &.nav-tabs {
                        & .nav-item {
                            & .nav-link{
                                border-bottom:2px solid transparent !important;
                                transition: ease-in-out .3s;
                                margin-bottom: -1px !important;
                                &::before {
                                    content: ' ';
                                    height: 4px;
                                    width: 10px;
                                    display: block;
                                    position: absolute;
                                    bottom: -5px;
                                    left: 50%;
                                    border-radius: 0 0 10px 10px;
                                    transform: translateX(-50%);
                                }
                                &.active {
                                    border-color: $theme1 !important;
                                    color: $theme1 !important;
                                    &::before {
                                        background-color: $theme1 !important;
                                    }
                                }
                            }
                        }
                    }
                }
                & .tab-content {
                    & .tab-pane {
                        & .productAccessories{
                            & .productCards {
                                &:nth-child(1) {
                                    & .card {
                                        &::after, &::before {
                                            display: none;
                                        }
                                    }
                                }
                                & .card {
                                    &:after {
                                        content: '+';
                                        width: 30px;
                                        height: 30px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        border-radius: 50px;
                                        font-size: 16px;
                                        border: 1px solid $gray-400;
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        left: -27px;
                                        margin: auto;
                                        background-color: $white;
                                    }
                                    &:before {
                                        content: '';
                                        border-left: 1px solid $gray-400;
                                        height: 80%;
                                        align-items: center;
                                        display: flex;
                                        margin: auto;
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        left: -12px;
                                    }
                                    & .productType {
                                        font-size: 13px;
                                    }
                                    & .productName {
                                        font-size: 14px;
                                    }
                                    & .imgOuter {
                                    }
                                    & .productPrice {
                                    }
                                }
                            }
                            & .totalPrice {
                                & .totalValue{
                                    font-size: 20px;
                                    color: lighten($danger, 20);
                                }
                                & .totalItem {
                                    font-size: 14px;
                                }
                                & .addAll {
                                    font-size: 14px;
                                    &:hover {
                                        background-color: $black;
                                        color: $white;
                                    }
                                }
                            }
                            & .selectAccessories {
                                .form-check {
                                    & .form-check-input{
                                        &:checked {
                                            &:disabled {
                                                background-color: $gray-500;
                                                border-color: $gray-500;
                                            }
                                        }
                                    }
                                    & .form-check-label {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                        & .decriptionOuter {
                            & .heading {
                                font-size: 22px;
                            }
                            & .txt {
                                font-size: 14px;
                                color: $gray-500;
                            }
                            & .imgOuter {
                                &.imgOuterLeft{
                                    & img {
                                        left: auto;
                                        right: 60px;
                                    }
                                }
                                & img {
                                    left: 60px;
                                }
                            }
                            & .bottomMenu {
                                font-size: 14px;
                            }
                        }
                        & .specificationMain {
                            & .detail {
                                & .heading {
                                    font-size: 18px;
                                }
                                & .title, & .dec {
                                    font-size: 14px;
                                }
                            }
                        }
                        & .reviewMain {
                            & .title {
                                font-size: 16px;
                            }
                            & .totalReview {
                                & .overAllRating{
                                    font-size: 28px;
                                    line-height: 20px;
                                    & .txt {
                                        font-size: 14px;
                                    }
                                }
                                & .viewReview{
                                    & .ratingStar {
                                    }
                                    & .ratingBar {
                                        & .progress {
                                            height: 10px;
                                            background-color: $gray-200;
                                            & .progress-bar{
                                                background-color: $gray-400;
                                            }
                                            & .value {
                                                margin-right: -16px;
                                            }
                                        }
                                    }
                                }
                            }
                            & .writeReview{
                                & .ratingTitle{
                                    font-size: 14px;
                                }
                                & .ratingStar {
                                    & .rating-box {
                                        display: inline-block;
                                        & .rating-container {
                                          direction: rtl !important;
                                          & label {
                                            display: inline-block;
                                            margin: 15px 0;
                                            color: $gray-200;
                                            cursor: pointer;
                                            font-size: 18px;
                                            transition: color 0.2s;
                                          }
                                          & input {
                                            display: none;
                                          }
                                          & label:hover, & label:hover ~ label, & input:checked ~ label  {
                                            color: $theme1;
                                          }
                                        }
                                      }
                                }
                                & .contentSide {
                                    & .form-control {
                                        font-size: 14px;
                                    }
                                    & .form-check {
                                        & .form-check-label {
                                            font-size: 14px;
                                        }
                                    }
                                    & .addReviewBtn {
                                        font-size: 14px;
                                        &:hover {
                                            background-color: $black !important;
                                            color: $white;
                                        }
                                    }
                                }
                            }
                            & .allReview {
                                & .reviewOuter {
                                    padding: 20px 0;
                                    &:first-child{
                                        border: none;
                                    }
                                    border-top: 1px solid $gray-400;
                                }
                                & .reviewStars {
                                }
                                & .comment {
                                    font-size: 14px;
                                }
                                & .reviewBy {
                                    font-size: 14px;
                                    & .reviewDate {
                                        color: $gray-400;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .brandsSlider{
            & .brandouter {
                width: 180px;
                display: block;
                & img {
                    filter: opacity(0.5);
                    transition: ease-in-out .3s;
                }
                &:hover {
                    & img {
                        filter: none;
                    }
                }
            }
            & .allBrandsSlider  {
                & .owl-stage-outer {
                    padding-right: 0;
                }
                & .owl-nav{
                    & .owl-prev, & .owl-next {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        font-size: 32px;
                        &.disabled {
                            color: $gray-500;
                        }
                    }
                    & .owl-prev {
                        left: 0;
                    }
                    & .owl-next {
                        right: 0;
                    }
                }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}

    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {
        .productDetails {
            & .productImagSide {
                & .productImgSlider {
                    & .owl-nav {
                    }
                    & .owl-dots {
                        & button {
                            & span {
                            }
                        }
                    }
                }
            }
            & .productFullDetails {
                & .contantsDetails {
                    & .moreProduct {
                        & a {
                        }
                    }
                    & .productNmae {
                        font-size: 24px;
                    }
                    & .rating {
                        & .ratingList {
                        }
                        & .customerRating {
                        }
                    }
                    & .brandingLogo {
                    }
                    & .productFithur {
                        & ul {
                            & li {
                            }
                        }
                    }
                    & .productDiscuription {
                    }
                    & .productCode {
                        font-size: 14px;
                    }
                }
                & .offerDetails {
                    & .availabilityProduct {
                    }
                    & .productValue {
                    }
                    & .chouseInputBtn {
                        & input{
                        }
                    }
                    & .addCart {
                        & .addCartBtn {
                            &:hover{
                            }
                        }
                        & .payLinkBtn {
                            &:hover {
                                &.bg-opacity-75 {
                                }
                            }
                        }
                    }
                    
                    & .diveider {
                        &::after, &::before {
                        }
                    }
                    & .morebuttons {
                        & a {
                            & img {
                            }
                        }
                    }
                }
            }
        }
        .brandsSlider{
            & .brandouter {
                width: 150px;
                & img {
                }
            }
            & .allBrandsSlider  {
                & .owl-nav{
                    & .owl-prev, & .owl-next {
                        &.disabled {
                        }
                    }
                    & .owl-prev {
                    }
                    & .owl-next {
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        
        .productDecription {
            & .tabsOuter {
                & .nav {
                    &.nav-tabs {
                        &::-webkit-scrollbar {
                        }
                        & .nav-item {
                            & .nav-link{
                                &::before {
                                }
                                &.active {
                                    &::before {
                                    }
                                }
                            }
                        }
                    }
                }
                & .tab-content {
                    & .tab-pane {
                        & .productAccessories{
                            & .productCards {
                                &:nth-child(1) {
                                    & .card {
                                        &::after, &::before {
                                        }
                                    }
                                }
                                & .card {
                                    &:after {
                                    }
                                    &:before {
                                    }
                                    & .productType {
                                    }
                                    & .productName {
                                    }
                                    & .imgOuter {
                                    }
                                    & .productPrice {
                                    }
                                }
                            }
                            & .totalPrice {
                                & .totalValue{
                                }
                                & .totalItem {
                                }
                                & .addAll {
                                    &:hover {
                                    }
                                }
                            }
                            & .selectAccessories {
                                .form-check {
                                    & .form-check-input{
                                        &:checked {
                                            &:disabled {
                                            }
                                        }
                                    }
                                    & .form-check-label {
                                    }
                                }
                            }
                        }
                        & .decriptionOuter {
                            & .heading {
                                font-size: 18px;
                            }
                            & .txt {
                                font-size: 13px;
                            }
                            & .imgOuter {
                                width: 286px;
                                margin-left: auto;
                                &.imgOuterLeft{
                                    margin-right: auto;
                                    margin-left: 0;
                                    & img {
                                    }
                                }
                                & img {
                                }
                            }
                            & .bottomMenu {
                                font-size: 13px;
                            }
                        }
                        & .specificationMain {
                            & .detail {
                                & .heading {
                                    font-size: 16px;
                                }
                                & .title, & .dec {
                                    font-size: 13px;
                                }
                            }
                        }
                        & .reviewMain {
                            & .title {
                            }
                            & .totalReview {
                                & .overAllRating{
                                    font-size: 24px;
                                    & .txt {
                                        font-size: 13px;
                                    }
                                }
                                & .viewReview{
                                    & .ratingStar {
                                    }
                                    & .ratingBar {
                                        & .progress {
                                            & .progress-bar{
                                            }
                                            & .value {
                                            }
                                        }
                                    }
                                }
                            }
                            & .writeReview{
                                & .ratingTitle{
                                    font-size: 13px;
                                }
                                & .ratingStar {
                                    & .rating-box {
                                        & .rating-container {
                                          & label {
                                            font-size: 16px;
                                          }
                                          & input {
                                          }
                                          & label:hover, & label:hover ~ label, & input:checked ~ label  {
                                          }
                                        }
                                      }
                                }
                                & .contentSide {
                                    & .form-control {
                                        font-size: 13px;
                                    }
                                    & .form-check {
                                        & .form-check-label {
                                            font-size: 13px;
                                        }
                                    }
                                    & .addReviewBtn {
                                        font-size: 13px;
                                        &:hover {
                                        }
                                    }
                                }
                            }
                            & .allReview {
                                & .reviewOuter {
                                    &:first-child{
                                    }
                                }
                                & .reviewStars {
                                }
                                & .comment {
                                    font-size: 13px;
                                }
                                & .reviewBy {
                                    font-size: 13px;
                                    & .reviewDate {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .brandsSlider{
            & .brandouter {
                width: 120px;
                & img {
                }
            }
            & .allBrandsSlider  {
                & .owl-nav{
                    & .owl-prev, & .owl-next {
                        font-size: 24px;
                        &.disabled {
                        }
                    }
                    & .owl-prev {
                    }
                    & .owl-next {
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        .productDecription {
            & .tabsOuter {
                & .nav {
                    &.nav-tabs {
                        &::-webkit-scrollbar {
                        }
                        & .nav-item {
                            & .nav-link{
                                &::before {
                                }
                                &.active {
                                    &::before {
                                    }
                                }
                            }
                        }
                    }
                }
                & .tab-content {
                    & .tab-pane {
                        & .productAccessories{
                            & .productCards {
                                &:nth-child(1) {
                                    & .card {
                                        &::after, &::before {
                                        }
                                    }
                                }
                                & .card {
                                    &:after {
                                    }
                                    &:before {
                                    }
                                    & .productType {
                                    }
                                    & .productName {
                                    }
                                    & .imgOuter {
                                    }
                                    & .productPrice {
                                    }
                                }
                            }
                            & .totalPrice {
                                & .totalValue{
                                }
                                & .totalItem {
                                }
                                & .addAll {
                                    &:hover {
                                    }
                                }
                            }
                            & .selectAccessories {
                                .form-check {
                                    & .form-check-input{
                                        &:checked {
                                            &:disabled {
                                            }
                                        }
                                    }
                                    & .form-check-label {
                                    }
                                }
                            }
                        }
                        & .decriptionOuter {
                            & .heading {
                            }
                            & .txt {
                            }
                            & .imgOuter {
                                &.imgOuterLeft{
                                    margin-right: auto;
                                    margin-left: 0;
                                    & img {
                                        left: auto;
                                        right: 27px;
                                    }
                                }
                                & img {
                                    left: 27px;
                                }
                            }
                            & .bottomMenu {
                            }
                        }
                        & .specificationMain {
                            & .detail {
                                & .heading {
                                }
                                & .title, & .dec {
                                }
                            }
                        }
                        & .reviewMain {
                            & .title {
                            }
                            & .totalReview {
                                & .overAllRating{
                                    & .txt {
                                    }
                                }
                                & .viewReview{
                                    & .ratingStar {
                                    }
                                    & .ratingBar {
                                        & .progress {
                                            & .progress-bar{
                                            }
                                            & .value {
                                            }
                                        }
                                    }
                                }
                            }
                            & .writeReview{
                                & .ratingTitle{
                                }
                                & .ratingStar {
                                    & .rating-box {
                                        & .rating-container {
                                          & label {
                                          }
                                          & input {
                                          }
                                          & label:hover, & label:hover ~ label, & input:checked ~ label  {
                                          }
                                        }
                                      }
                                }
                                & .contentSide {
                                    & .form-control {
                                    }
                                    & .form-check {
                                        & .form-check-label {
                                        }
                                    }
                                    & .addReviewBtn {
                                        &:hover {
                                        }
                                    }
                                }
                            }
                            & .allReview {
                                & .reviewOuter {
                                    &:first-child{
                                    }
                                }
                                & .reviewStars {
                                }
                                & .comment {
                                }
                                & .reviewBy {
                                    & .reviewDate {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .productDetails {
            & .productImagSide {
                & .productImgSlider {
                    & .owl-nav {
                    }
                    & .owl-dots {
                        & button {
                            width: 50px;
                            height: 50px;
                            &.active {
                            }
                            & span {
                            }
                        }
                    }
                }
            }
            & .productFullDetails {
                & .contantsDetails {
                    & .moreProduct {
                        & a {
                        }
                    }
                    & .productNmae {
                        font-size: 18px;
                    }
                    & .rating {
                        & .ratingList {
                        }
                        & .customerRating {
                            font-size: 14px;
                        }
                    }
                    & .brandingLogo {
                        width: 80px;
                    }
                    & .productFithur {
                        & ul {
                            & li {
                                font-size: 14px;
                            }
                        }
                    }
                    & .productDiscuription {
                        font-size: 14px;
                    }
                    & .productCode {
                        font-size: 14px;
                    }
                }
                & .offerDetails {
                    & .availabilityProduct {
                        font-size: 14px;
                        border-bottom: 1px solid rgba($secondary, 0.2);
                    }
                    & .productValue {
                        font-size: 16px;
                    }
                    & .chouseInputBtn {
                        &  input{
                            font-size: 14px;
                        }
                    }
                    & .addCart {
                        & .addCartBtn {
                            font-size: 14px;
                            &:hover{
                            }
                        }
                        & .payLinkBtn {
                            font-size: 14px;
                            &:hover {
                            }
                        }
                    }
                    
                    & .diveider {
                        font-size: 10px;
                        &::after, &::before {
                            width: 10px;
                        }
                    }
                    & .morebuttons {
                        & a {
                            font-size: 12px;
                            & img {
                                width: 14px;
                            }
                        }
                    }
                }
            }
        }
        
        .productDecription {
            & .tabsOuter {
                & .nav {
                    &.nav-tabs {
                        overflow: auto hidden;
                        flex-wrap: nowrap;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                        & .nav-item {
                            & .nav-link{
                                font-size: 14px;
                                &::before {
                                }
                                &.active {
                                    &::before {
                                    }
                                }
                            }
                        }
                    }
                }
                & .tab-content {
                    & .tab-pane {
                        & .productAccessories{
                            & .productCards {
                                &:nth-child(1) {
                                    & .card {
                                        &::after, &::before {
                                            display: none;
                                        }
                                    }
                                }
                                & .card {
                                    max-width: 320px;
                                    margin: 0 auto;
                                    &:after {
                                        top: -20px;
                                        bottom: unset;
                                        right: 0;
                                        left: 0;
                                    }
                                    &:before {
                                        border-top: 1px solid $gray-400;
                                        border-left: none;
                                        width: 80%;
                                        top: -5px;
                                        bottom: unset;
                                        left: 0;
                                        right: 0;
                                    }
                                    & .productType {
                                        font-size: 14px;
                                    }
                                    & .productName {
                                        font-size: 14px;
                                    }
                                    & .imgOuter {
                                    }
                                    & .productPrice {
                                    }
                                }
                            }
                            & .totalPrice {
                                & .card {
                                    max-width: 320px;
                                    margin: 0 auto;
                                    & .totalValue{
                                        font-size: 18px;
                                    }
                                    & .totalItem {
                                        font-size: 14px;
                                    }
                                    & .addAll {
                                        font-size: 14px;
                                        &:hover {
                                        }
                                    }
                                }
                            }
                            & .selectAccessories {
                                .form-check {
                                    & .form-check-input{
                                        &:checked {
                                            &:disabled {
                                            }
                                        }
                                    }
                                    & .form-check-label {
                                        font-size: 14px;
                                        font-weight: 400 !important;
                                    }
                                }
                            }
                        }
                        & .decriptionOuter {
                            & .heading {
                                font-size: 16px;
                            }
                            & .txt {
                                font-size: 12px;
                            }
                            & .imgOuter {
                                width: 240px;
                                &.imgOuterLeft{
                                    & img {
                                    }
                                }
                                & img {
                                }
                            }
                            & .bottomMenu {
                                font-size: 12px;
                            }
                        }
                        & .specificationMain {
                            & .detail {
                                & .heading {
                                    font-size: 16px;
                                }
                                & .title, & .dec {
                                    font-size: 12px;
                                }
                            }
                        }
                        & .reviewMain {
                            & .title {
                                font-size: 16px;
                            }
                            & .totalReview {
                                & .overAllRating{
                                    font-size: 20px;
                                    & .txt {
                                        font-size: 14px;
                                    }
                                }
                                & .viewReview{
                                    & .ratingStar {
                                    }
                                    & .ratingBar {
                                        & .progress {
                                            & .progress-bar{
                                            }
                                            & .value {
                                            }
                                        }
                                    }
                                }
                            }
                            & .writeReview{
                                & .ratingTitle{
                                    font-size: 14px;
                                }
                                & .ratingStar {
                                    & .rating-box {
                                        & .rating-container {
                                          & label {
                                            font-size: 14px;
                                          }
                                          & input {
                                          }
                                          & label:hover, & label:hover ~ label, & input:checked ~ label  {
                                          }
                                        }
                                      }
                                }
                                & .contentSide {
                                    & .form-control {
                                        font-size: 14px;
                                    }
                                    & .form-check {
                                        & .form-check-label {
                                            font-size: 14px;
                                        }
                                    }
                                    & .addReviewBtn {
                                        font-size: 14px;
                                        &:hover {
                                        }
                                    }
                                }
                            }
                            & .allReview {
                                & .reviewOuter {
                                    &:first-child{
                                    }
                                }
                                & .reviewStars {
                                }
                                & .comment {
                                    font-size: 14px;
                                }
                                & .reviewBy {
                                    font-size: 14px;
                                    & .reviewDate {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
// }

[data-bs-theme=dark] {
    // & [data-page-name=example] {
        @include dark-media-breakpoint(basic) {
            
        }
        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    // }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@



figure.zoom {
    background-position: 50% 50%;
    position: relative;
    width: 500px;
    overflow: hidden;
    cursor: zoom-in;
  }
  figure.zoom img:hover {
    opacity: 0;
  }
  figure.zoom img {
    transition: opacity .5s;
    display: block;
    width: 100%;
  }
  