// ? @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@
// [data-page-name=example] {
    @include media-breakpoint(basic) {
        .storeDirectoryHeading {
            text-align: center;
            margin-bottom: 40.99px;
            font-size: 42px;
            letter-spacing: -.025em;
            color: lighten($color: $black, $amount: 30);
        }
        .storeDirectoryListing {
            hr{
                border: 1px solid;
                margin: 0;
            }
            & .storeDirectoryItem {
                margin: 0;
                padding: 0;
                position: relative;
                & .storeDirectoryItems {
                    margin: 0;
                    padding: 0 1.5em;
                    line-height: 2em;
                    position: relative;
                    list-style: none;
                    text-decoration: none;
                    &:last-child {
                        line-height: 1em;
                    }
                    & .storeDirectoryItemsLink {
                        padding: 0.4em 0;
                        font-size: 14px;
                        font-weight: 700;
                        color: lighten($color: $black, $amount: 20);
                        &:last-child {
                            padding-bottom: 0;
                        }
                    }
                    &::before {
                        content: "";
                        display: block;
                        width: 10px;
                        height: 0;
                        border-top: 1px solid #ddd;
                        margin-top: -1px;
                        position: absolute;
                        top: 1.071em;
                        left: 0;
                    }
                    & .storeDirectorySubItem {
                        margin: 0 0 0 0.5rem;
                        padding: 0;
                        position: relative;
                        & .storeDirectorySubItems {
                            margin: 0;
                            padding: 0 1.5em;
                            line-height: 2em;
                            position: relative;
                            list-style: none;
                            text-decoration: none;
                            &:last-child {
                                line-height: 1em;
                            }
                            & .storeDirectorySubItemsLink {
                                padding: 0.4em 0;
                                font-size: 14px;
                                font-weight: 400;
                                color: lighten($color: $black, $amount: 20);
                                &:last-child {
                                    padding-bottom: 0;
                                }
                            }
                            &::before {
                                content: "";
                                display: block;
                                width: 10px;
                                height: 0;
                                border-top: 1px solid #ddd;
                                margin-top: -1px;
                                position: absolute;
                                top: 1.071em;
                                left: 0;
                            }
                        }
                        &::before {
                            content: "";
                            display: block;
                            width: 0;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            border-left: 1px solid #ddd;
                        }
                    }
                }
                &::before {
                    content: "";
                    display: block;
                    width: 0;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    border-left: 1px solid #ddd;
                }
                
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {}

    @include media-breakpoint-down(lg) {}

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {}
// }

[data-bs-theme=dark] {
    // & [data-page-name=example] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    // }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@

