// ? @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@
// [data-page-name=example] {
    @include media-breakpoint(basic) {
        .heroSection {
            background: url('../img/hero-banner/background.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom left;
            & .sliderSection {
                & .hero-carousel {
                    position: relative;
                    & .owl-stage-outer {
                        & .owl-stage {
                            & .owl-item {
                                opacity: 0;
                                transition: 0.3s ease-in-out;
                                & .leftPart {
                                    & .nanoHeading {
                                        line-height: 22px;
                                        letter-spacing: 0px;
                                        font-weight: 600;
                                        font-size: 18px;
                                        color: rgb(52, 188, 236);
                                        text-transform: uppercase;
                                        margin-bottom: 15px;
                                        transform: translateY(-100%);
                                        opacity: 0;
                                        transition: all 1.8s ease-in-out;
                                    }
                                    & .slideHeading {
                                        color: rgb(51, 62, 72);
                                        line-height: 48px;
                                        letter-spacing: 0px;
                                        font-weight: 300;
                                        font-size: 46px;
                                        margin-bottom: 35px;
                                        transform: scale(0);
                                        opacity: 0;
                                        transition: all 2s ease-in-out;
                                        & b {
                                            font-weight: 600;
                                        }
                                    }
                                    & .subHeading {
                                        color: rgb(51, 62, 72);
                                        line-height: 22px;
                                        letter-spacing: 0px;
                                        font-weight: 800;
                                        font-size: 15px;
                                        transform: translateX(100%);
                                        opacity: 0;
                                        transition: all 2.5s ease-in-out;
                                    }
                                    & .productPrize {
                                        color: rgb(51, 62, 72);
                                        line-height: 52px;
                                        letter-spacing: 0px;
                                        font-weight: 700;
                                        font-size: 56px;
                                        transform: translate(-100%,100%);
                                        opacity: 0;
                                        transition: all 2.5s ease-in-out;
                                        & sup {
                                            font-size: .75em;
                                            line-height: 0;
                                            vertical-align: baseline;
                                        }
                                    }
                                    & .statBuyingSlidBtnOuter {
                                        transform: translateY(100%);
                                        opacity: 0;
                                        transition: all 2.5s ease-in-out;
                                        & .statBuyingSlidBtn {
                                            color: rgb(51, 62, 72);
                                            line-height: 18px;
                                            letter-spacing: 0px;
                                            font-weight: 300;
                                            font-size: 18px;
                                            border-color: transparent;
                                            padding: 14px 58px;
                                            border-radius: 10px;
                                            background-color: rgb(254, 215, 0);
                                            display: inline-block;
                                            transition: all 0.3s ease-in-out;
                                            &:hover {
                                                background-color: #eac600;
                                            }
                                        }
                                    }
                                }
                                & .rightPart {
                                    & .imgOuter {
                                        height: 422px;
                                        transform: translateY(100%);
                                        opacity: 0;
                                        transition: all 2s ease-in-out;
                                        & img {
                                            object-fit: contain;
                                            object-position: bottom center;
                                        }
                                        &.imgOuter3 {
                                            transform: translateX(100%) !important;
                                        }
                                    }
                                }
                                &.active {
                                    opacity: 1;
                                    & .rightPart {
                                        & .imgOuter {
                                            transform: translate(0);
                                            opacity: 1;
                                            &.imgOuter3 {
                                                transform: translate(0) !important;
                                            }
                                        }
                                    }
                                    & .leftPart {
                                        & .nanoHeading {
                                            transform: translate(0);
                                            opacity: 1;
                                        }
                                        & .slideHeading {
                                            transform: scale(1);
                                            opacity: 1;
                                        }
                                        & .subHeading {
                                            transform: translate(0);
                                            opacity: 1;
                                        }
                                        & .productPrize {
                                            transform: translate(0);
                                            opacity: 1;
                                        }
                                        & .statBuyingSlidBtnOuter {
                                            transform: translate(0);
                                            opacity: 1;
                                            & .statBuyingSlidBtn {
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    & .owl-dots {
                        position: absolute;
                        width: auto;
                        bottom: 15px;
                        padding: 0;
                        & .owl-dot {
                            width: 8px;
                            height: 8px;
                            border-radius: 5px;
                            background-color: #bcbdbd;
                            transition: all 0.3s ease-in-out;
                            margin-left: 15px;
                            &.active {
                                background-color: #ffd600;
                                width: 30px;
                            }
                        }
                    }
                }
            }
        }
        .cardSection {
            padding-top: 2.143em;
            padding-bottom: 2.143em;
            & .cardSectionInner {
                & .cardOuter {
                    & .card {
                        height: 100%;
                        border: none;
                        & .card-body {
                            border-radius: 0;
                            background-color: #f5f5f5;
                            padding: 0.8rem;
                            & .leftSide {
                                & .imgOuter {
                                    width: 150px;
                                    margin-right: 0.5em;
                                    & img {

                                    }
                                }
                            }
                            & .rightSide {
                                & .rightSideInner {
                                    & .productHeading {
                                        font-weight: 300;
                                        text-transform: uppercase;
                                        margin-bottom: 7px;
                                        color: #333e48;
                                        font-size: 17px;
                                        line-height: 21px;
                                        & b {
                                            font-weight: 700;
                                        }
                                    }
                                    & .shopNowUpto {
                                        & .shoptNowBtn {
                                            font-size: 14px;
                                            line-height: 30px;
                                            font-weight: 700;
                                            display: flex;
                                            align-items: center;
                                            color: #333e48;
                                            & .upto {
                                                text-transform: uppercase;
                                                font-weight: 300;
                                                display: block;
                                                & .prefix {
                                                    font-size: .919em;
                                                    line-height: .909em;
                                                    display: inline-block;
                                                    margin-right: 4px;
                                                    width: 1.4em;
                                                }
                                                & .value {
                                                    font-weight: 700;
                                                    font-size: 2.173em;
                                                    letter-spacing: -.025em;
                                                }
                                                & .suffix {
                                                    top: -0.5em;
                                                    position: relative;
                                                    font-weight: 700;
                                                    vertical-align: top;
                                                    margin-left: 2px;
                                                }
                                            }
                                            & img {
                                                width: 18px;
                                                height: 18px;
                                                border-radius: 50%;
                                                margin-left: 8px;
                                                background-color: #fed700;
                                                padding: 1px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .bestDealsSection {
            padding-top: 1.786em;
            padding-bottom: 1.786em;
            background-color: #f4f4f4;
            & .nav-tabs {
                flex-wrap: nowrap;
                & .nav-item {
                    padding-left: 0;
                    margin-left: 2.214em;
                    &:first-child {
                        margin-left: 0;
                    }
                    & .nav-link {
                        white-space: nowrap;
                        padding-left: 0;
                        padding-right: 0;
                        font-size: 1.071em;
                        padding-bottom: 0.722em;
                        line-height: 1.059em;
                        text-align: center;
                        color: #333e48;
                        transition: color .15s ease-in-out,background-color .15s ease-in-out;
                        border: none;
                        &.active {
                            font-weight: 700;
                            position: relative;
                            background-color: transparent;
                            border: none;
                            &::before{    content: ' ';
                                height: 4px;
                                width: 10px;
                                display: block;
                                position: absolute;
                                bottom: -5px;
                                left: 50%;
                                border-radius: 0 0 10px 10px;
                                transform: translateX(-50%);
                                background-color: #fed700;
                            }
                            &::after {
                                content: ' ';
                                border-bottom: 2px solid transparent;
                                display: block;
                                position: absolute;
                                bottom: -1px;
                                width: 100%;
                                border-color: #fed700
                            }
                        }
                        &:hover {
                            border: none;
                        }
                    }
                }
            }
            & .tab-content {
                background-color: #fff;
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {
        .cardSection {
            & .cardSectionInner {
                & .cardOuter {
                    & .card {
                        & .card-body {
                            & .leftSide {
                                & .imgOuter {
                                    width: 120px;
                                    & img {

                                    }
                                }
                            }
                            & .rightSide {
                                & .rightSideInner {
                                    & .productHeading {
                                        font-size: 15px;
                                        line-height: 20px;                                    
                                        & b {
                                        }
                                    }
                                    & .shopNowUpto {
                                        & .shoptNowBtn {
                                            & .upto {
                                                & .prefix {
                                                }
                                                & .value {
                                                }
                                                & .suffix {
                                                }
                                            }
                                            & img {
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(xl) {
        .heroSection {
            & .sliderSection {
                & .hero-carousel {
                    & .owl-stage-outer {
                        & .owl-stage {
                            & .owl-item {
                                & .leftPart {
                                    & .nanoHeading {
                                        line-height: 20px;
                                        font-size: 18px;
                                    }
                                    & .slideHeading {
                                        font-size: 38px;
                                        line-height: 40px;
                                        & b {
                                        }
                                    }
                                    & .subHeading {
                                    }
                                    & .productPrize {
                                        font-size: 45px;
                                        line-height: 45px;
                                        & sup {
                                        }
                                    }
                                    & .statBuyingSlidBtnOuter {
                                        & .statBuyingSlidBtn {
                                            padding: 12px 50px;
                                            font-size: 17px;
                                            line-height: 17px;
                                            &:hover {
                                            }
                                        }
                                    }
                                }
                                & .rightPart {
                                    & .imgOuter {
                                        & img {
                                        }
                                    }
                                }
                                &.active {
                                    & .rightPart {
                                        & .imgOuter {
                                        }
                                    }
                                    & .leftPart {
                                        & .nanoHeading {
                                        }
                                        & .slideHeading {
                                        }
                                        & .subHeading {
                                        }
                                        & .productPrize {
                                        }
                                        & .statBuyingSlidBtn {
                                        }
                                    }
                                }
                            }
                        }
                    }
                    & .owl-dots {
                        & .owl-dot {
                            &.active {
                            }
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        .heroSection {
            & .sliderSection {
                & .hero-carousel {
                    & .owl-stage-outer {
                        & .owl-stage {
                            & .owl-item {
                                & .leftPart {
                                    & .nanoHeading {
                                    }
                                    & .slideHeading {
                                        & b {
                                        }
                                    }
                                    & .subHeading {
                                    }
                                    & .productPrize {
                                        & sup {
                                        }
                                    }
                                    & .statBuyingSlidBtnOuter {
                                        & .statBuyingSlidBtn {
                                            &:hover {
                                            }
                                        }
                                    }
                                }
                                & .rightPart {
                                    & .imgOuter {
                                        & img {
                                        }
                                    }
                                }
                                &.active {
                                    & .rightPart {
                                        & .imgOuter {
                                        }
                                    }
                                    & .leftPart {
                                        & .nanoHeading {
                                        }
                                        & .slideHeading {
                                        }
                                        & .subHeading {
                                        }
                                        & .productPrize {
                                        }
                                        & .statBuyingSlidBtn {
                                        }
                                    }
                                }
                            }
                        }
                    }
                    & .owl-dots {
                        & .owl-dot {
                            &.active {
                            }
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        .heroSection {
            & .sliderSection {
                & .hero-carousel {
                    & .owl-stage-outer {
                        & .owl-stage {
                            & .owl-item {
                                & .leftPart {
                                    & .nanoHeading {
                                        line-height: 17px;
                                        font-size: 15px;
                                        margin-bottom: 11px;
                                    }
                                    & .slideHeading {
                                        font-size: 20px;
                                        line-height: 35px;
                                        margin-bottom: 25px;
                                        & b {
                                        }
                                    }
                                    & .subHeading {
                                    }
                                    & .productPrize {
                                        font-size: 30px;
                                        line-height: 35px;
                                        & sup {
                                        }
                                    }
                                    & .statBuyingSlidBtnOuter {
                                        & .statBuyingSlidBtn {
                                            padding: 10px 30px;
                                            font-size: 14px;
                                            line-height: 14px;                                        
                                            &:hover {
                                            }
                                        }
                                    }
                                }
                                & .rightPart {
                                    & .imgOuter {
                                        height: 315px;
                                        & img {
                                        }
                                    }
                                }
                                &.active {
                                    & .rightPart {
                                        & .imgOuter {
                                        }
                                    }
                                    & .leftPart {
                                        & .nanoHeading {
                                        }
                                        & .slideHeading {
                                        }
                                        & .subHeading {
                                        }
                                        & .productPrize {
                                        }
                                        & .statBuyingSlidBtn {
                                        }
                                    }
                                }
                            }
                        }
                    }
                    & .owl-dots {
                        & .owl-dot {
                            &.active {
                            }
                        }
                    }
                }
            }
        }
        .cardSection {
            padding-top: 1.143em;
            padding-bottom: 1.143em;
            & .cardSectionInner {
                & .cardOuter {
                    padding: 0;
                    margin-right: 8px;
                    &:last-child {
                        margin-right: 0;
                    }
                    & .card {
                        & .card-body {
                            & .leftSide {
                                & .imgOuter {
                                    width: 145px;
                                    & img {

                                    }
                                }
                            }
                            & .rightSide {
                                max-width: 124px;
                                & .rightSideInner {
                                    & .productHeading {  
                                        font-size: 14px;
                                        line-height: 1.278em;                               
                                        & b {
                                        }
                                    }
                                    & .shopNowUpto {
                                        & .shoptNowBtn {
                                            & .upto {
                                                & .prefix {
                                                }
                                                & .value {
                                                }
                                                & .suffix {
                                                }
                                            }
                                            & img {
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .heroSection {
            & .sliderSection {
                & .hero-carousel {
                    & .owl-stage-outer {
                        & .owl-stage {
                            & .owl-item {
                                & .leftPart {
                                    & .nanoHeading {
                                        font-size: 12px;
                                        line-height: 15px;
                                    }
                                    & .slideHeading {
                                        font-size: 15px;
                                        line-height: 20px;
                                        margin-bottom: 15px;
                                        & b {
                                        }
                                    }
                                    & .subHeading {
                                        font-size: 12px;
                                        line-height: 12px;
                                    }
                                    & .productPrize {
                                        font-size: 18px;
                                        line-height: 25px;
                                        & sup {
                                        }
                                    }
                                    & .statBuyingSlidBtnOuter {
                                        & .statBuyingSlidBtn {
                                            padding: 6px 20px;
                                            font-size: 11px;
                                            line-height: 11px;
                                            &:hover {
                                            }
                                        }
                                    }
                                }
                                & .rightPart {
                                    & .imgOuter {
                                        height: 220px;
                                        & img {
                                        }
                                    }
                                }
                                &.active {
                                    & .rightPart {
                                        & .imgOuter {
                                        }
                                    }
                                    & .leftPart {
                                        & .nanoHeading {
                                        }
                                        & .slideHeading {
                                        }
                                        & .subHeading {
                                        }
                                        & .productPrize {
                                        }
                                        & .statBuyingSlidBtn {
                                        }
                                    }
                                }
                            }
                        }
                    }
                    & .owl-dots {
                        display: none;
                        & .owl-dot {
                            &.active {
                            }
                        }
                    }
                }
            }
        }
    }
// }

[data-bs-theme=dark] {
    // & [data-page-name=example] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    // }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@

