// ? @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@
// [data-page-name=example] {
    @include media-breakpoint(basic) {
        .heroSection {
            background: url('../img/hero-banner/background.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom left;
            & .sliderSection {
                & .hero-carousel {
                    position: relative;
                    & .owl-stage-outer {
                        & .owl-stage {
                            & .owl-item {
                                opacity: 0;
                                transition: 0.3s ease-in-out;
                                & .leftPart {
                                    & .nanoHeading {
                                        line-height: 22px;
                                        letter-spacing: 0px;
                                        font-weight: 600;
                                        font-size: 18px;
                                        color: rgb(52, 188, 236);
                                        text-transform: uppercase;
                                        margin-bottom: 15px;
                                        transform: translateY(-100%);
                                        opacity: 0;
                                        transition: all 1.8s ease-in-out;
                                    }
                                    & .slideHeading {
                                        color: rgb(51, 62, 72);
                                        line-height: 48px;
                                        letter-spacing: 0px;
                                        font-weight: 300;
                                        font-size: 46px;
                                        margin-bottom: 35px;
                                        transform: scale(0);
                                        opacity: 0;
                                        transition: all 2s ease-in-out;
                                        & b {
                                            font-weight: 600;
                                        }
                                    }
                                    & .subHeading {
                                        color: rgb(51, 62, 72);
                                        line-height: 22px;
                                        letter-spacing: 0px;
                                        font-weight: 800;
                                        font-size: 15px;
                                        transform: translateX(100%);
                                        opacity: 0;
                                        transition: all 2.5s ease-in-out;
                                    }
                                    & .productPrize {
                                        color: rgb(51, 62, 72);
                                        line-height: 52px;
                                        letter-spacing: 0px;
                                        font-weight: 700;
                                        font-size: 56px;
                                        transform: translate(-100%,100%);
                                        opacity: 0;
                                        transition: all 2.5s ease-in-out;
                                        & sup {
                                            font-size: .75em;
                                            line-height: 0;
                                            vertical-align: baseline;
                                        }
                                    }
                                    & .statBuyingSlidBtnOuter {
                                        transform: translateY(100%);
                                        opacity: 0;
                                        transition: all 2.5s ease-in-out;
                                        & .statBuyingSlidBtn {
                                            color: rgb(51, 62, 72);
                                            line-height: 18px;
                                            letter-spacing: 0px;
                                            font-weight: 300;
                                            font-size: 18px;
                                            border-color: transparent;
                                            padding: 14px 58px;
                                            border-radius: 10px;
                                            background-color: rgb(254, 215, 0);
                                            display: inline-block;
                                            transition: all 0.3s ease-in-out;
                                            &:hover {
                                                background-color: #eac600;
                                            }
                                        }
                                    }
                                }
                                & .rightPart {
                                    & .imgOuter {
                                        height: 422px;
                                        transform: translateY(100%);
                                        opacity: 0;
                                        transition: all 2s ease-in-out;
                                        & img {
                                            object-fit: contain;
                                            object-position: bottom center;
                                        }
                                        &.imgOuter3 {
                                            transform: translateX(100%) !important;
                                        }
                                    }
                                }
                                &.active {
                                    opacity: 1;
                                    & .rightPart {
                                        & .imgOuter {
                                            transform: translate(0);
                                            opacity: 1;
                                            &.imgOuter3 {
                                                transform: translate(0) !important;
                                            }
                                        }
                                    }
                                    & .leftPart {
                                        & .nanoHeading {
                                            transform: translate(0);
                                            opacity: 1;
                                        }
                                        & .slideHeading {
                                            transform: scale(1);
                                            opacity: 1;
                                        }
                                        & .subHeading {
                                            transform: translate(0);
                                            opacity: 1;
                                        }
                                        & .productPrize {
                                            transform: translate(0);
                                            opacity: 1;
                                        }
                                        & .statBuyingSlidBtnOuter {
                                            transform: translate(0);
                                            opacity: 1;
                                            & .statBuyingSlidBtn {
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    & .owl-dots {
                        position: absolute;
                        width: auto;
                        bottom: 15px;
                        padding: 0;
                        & .owl-dot {
                            width: 8px;
                            height: 8px;
                            border-radius: 5px;
                            background-color: #bcbdbd;
                            transition: all 0.3s ease-in-out;
                            margin-left: 15px;
                            &.active {
                                background-color: #ffd600;
                                width: 30px;
                            }
                        }
                    }
                }
            }
        }
        .cardSection {
            & .cardSectionInner {
                & .cardOuter {
                    & .card {
                        & .card-body {
                            border: none;
                            border-radius: 0;
                            background-color: #f5f5f5;
                            & .leftSide {
                                & .imgOuter {
                                    width: 173px;
                                    & img {

                                    }
                                }
                            }
                            & .rightSide {
                                & .rightSideInner {
                                    & .productHeading {
                                        & b {

                                        }
                                    }
                                    & .shopNowUpto {

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {
    }

    @include media-breakpoint-down(xl) {
        .heroSection {
            & .sliderSection {
                & .hero-carousel {
                    & .owl-stage-outer {
                        & .owl-stage {
                            & .owl-item {
                                & .leftPart {
                                    & .nanoHeading {
                                        line-height: 20px;
                                        font-size: 18px;
                                    }
                                    & .slideHeading {
                                        font-size: 38px;
                                        line-height: 40px;
                                        & b {
                                        }
                                    }
                                    & .subHeading {
                                    }
                                    & .productPrize {
                                        font-size: 45px;
                                        line-height: 45px;
                                        & sup {
                                        }
                                    }
                                    & .statBuyingSlidBtnOuter {
                                        & .statBuyingSlidBtn {
                                            padding: 12px 50px;
                                            font-size: 17px;
                                            line-height: 17px;
                                            &:hover {
                                            }
                                        }
                                    }
                                }
                                & .rightPart {
                                    & .imgOuter {
                                        & img {
                                        }
                                    }
                                }
                                &.active {
                                    & .rightPart {
                                        & .imgOuter {
                                        }
                                    }
                                    & .leftPart {
                                        & .nanoHeading {
                                        }
                                        & .slideHeading {
                                        }
                                        & .subHeading {
                                        }
                                        & .productPrize {
                                        }
                                        & .statBuyingSlidBtn {
                                        }
                                    }
                                }
                            }
                        }
                    }
                    & .owl-dots {
                        & .owl-dot {
                            &.active {
                            }
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        .heroSection {
            & .sliderSection {
                & .hero-carousel {
                    & .owl-stage-outer {
                        & .owl-stage {
                            & .owl-item {
                                & .leftPart {
                                    & .nanoHeading {
                                    }
                                    & .slideHeading {
                                        & b {
                                        }
                                    }
                                    & .subHeading {
                                    }
                                    & .productPrize {
                                        & sup {
                                        }
                                    }
                                    & .statBuyingSlidBtnOuter {
                                        & .statBuyingSlidBtn {
                                            &:hover {
                                            }
                                        }
                                    }
                                }
                                & .rightPart {
                                    & .imgOuter {
                                        & img {
                                        }
                                    }
                                }
                                &.active {
                                    & .rightPart {
                                        & .imgOuter {
                                        }
                                    }
                                    & .leftPart {
                                        & .nanoHeading {
                                        }
                                        & .slideHeading {
                                        }
                                        & .subHeading {
                                        }
                                        & .productPrize {
                                        }
                                        & .statBuyingSlidBtn {
                                        }
                                    }
                                }
                            }
                        }
                    }
                    & .owl-dots {
                        & .owl-dot {
                            &.active {
                            }
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        .heroSection {
            & .sliderSection {
                & .hero-carousel {
                    & .owl-stage-outer {
                        & .owl-stage {
                            & .owl-item {
                                & .leftPart {
                                    & .nanoHeading {
                                        line-height: 17px;
                                        font-size: 15px;
                                        margin-bottom: 11px;
                                    }
                                    & .slideHeading {
                                        font-size: 20px;
                                        line-height: 35px;
                                        margin-bottom: 25px;
                                        & b {
                                        }
                                    }
                                    & .subHeading {
                                    }
                                    & .productPrize {
                                        font-size: 30px;
                                        line-height: 35px;
                                        & sup {
                                        }
                                    }
                                    & .statBuyingSlidBtnOuter {
                                        & .statBuyingSlidBtn {
                                            padding: 10px 30px;
                                            font-size: 14px;
                                            line-height: 14px;                                        
                                            &:hover {
                                            }
                                        }
                                    }
                                }
                                & .rightPart {
                                    & .imgOuter {
                                        height: 315px;
                                        & img {
                                        }
                                    }
                                }
                                &.active {
                                    & .rightPart {
                                        & .imgOuter {
                                        }
                                    }
                                    & .leftPart {
                                        & .nanoHeading {
                                        }
                                        & .slideHeading {
                                        }
                                        & .subHeading {
                                        }
                                        & .productPrize {
                                        }
                                        & .statBuyingSlidBtn {
                                        }
                                    }
                                }
                            }
                        }
                    }
                    & .owl-dots {
                        & .owl-dot {
                            &.active {
                            }
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .heroSection {
            & .sliderSection {
                & .hero-carousel {
                    & .owl-stage-outer {
                        & .owl-stage {
                            & .owl-item {
                                & .leftPart {
                                    & .nanoHeading {
                                        font-size: 12px;
                                        line-height: 15px;
                                    }
                                    & .slideHeading {
                                        font-size: 15px;
                                        line-height: 20px;
                                        margin-bottom: 15px;
                                        & b {
                                        }
                                    }
                                    & .subHeading {
                                        font-size: 12px;
                                        line-height: 12px;
                                    }
                                    & .productPrize {
                                        font-size: 18px;
                                        line-height: 25px;
                                        & sup {
                                        }
                                    }
                                    & .statBuyingSlidBtnOuter {
                                        & .statBuyingSlidBtn {
                                            padding: 6px 20px;
                                            font-size: 11px;
                                            line-height: 11px;
                                            &:hover {
                                            }
                                        }
                                    }
                                }
                                & .rightPart {
                                    & .imgOuter {
                                        height: 220px;
                                        & img {
                                        }
                                    }
                                }
                                &.active {
                                    & .rightPart {
                                        & .imgOuter {
                                        }
                                    }
                                    & .leftPart {
                                        & .nanoHeading {
                                        }
                                        & .slideHeading {
                                        }
                                        & .subHeading {
                                        }
                                        & .productPrize {
                                        }
                                        & .statBuyingSlidBtn {
                                        }
                                    }
                                }
                            }
                        }
                    }
                    & .owl-dots {
                        display: none;
                        & .owl-dot {
                            &.active {
                            }
                        }
                    }
                }
            }
        }
    }
// }

[data-bs-theme=dark] {
    // & [data-page-name=example] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    // }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@

