// ? @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@
// [data-page-name=example] {
    @include media-breakpoint(basic) {
        .heroSection {
            background-color: #f6f6f7;
            & .sliderSection {
                & .hero-carousel {
                    position: relative;
                    & .leftPart {
                        & .nanoHeading {
                            line-height: 22px;
                            letter-spacing: 0px;
                            font-weight: 600;
                            font-size: 18px;
                            font-family: Roboto;
                            color: rgb(52, 188, 236);
                            text-transform: uppercase;
                            margin-bottom: 15px;
                        }
                        & .slideHeading {
                            font-family: Roboto;
                            color: rgb(51, 62, 72);
                            line-height: 48px;
                            letter-spacing: 0px;
                            font-weight: 300;
                            font-size: 46px;
                            margin-bottom: 35px;
                            & b {
                                font-weight: 600;
                            }
                        }
                        & .subHeading {
                            font-family: Roboto;
                            color: rgb(51, 62, 72);
                            line-height: 22px;
                            letter-spacing: 0px;
                            font-weight: 800;
                            font-size: 15px;
                        }
                        & .productPrize {
                            font-family: Roboto;
                            color: rgb(51, 62, 72);
                            line-height: 52px;
                            letter-spacing: 0px;
                            font-weight: 700;
                            font-size: 56px;
                            & sup {
                                font-size: .75em;
                                line-height: 0;
                                vertical-align: baseline;
                            }
                        }
                        & .statBuyingSlidBtn {
                            font-family: Roboto;
                            color: rgb(51, 62, 72);
                            line-height: 18px;
                            letter-spacing: 0px;
                            font-weight: 300;
                            font-size: 18px;
                            border-color: transparent;
                            padding: 14px 58px;
                            border-radius: 10px;
                            background-color: #fed700;
                            display: inline-block;
                            &:hover {
                                background-color: #eac600;
                            }
                        }
                    }
                    & .rightPart {
                        & .imgOuter {
                            height: 422px;
                            & img {
                                object-fit: contain;
                                object-position: bottom center;
                            }
                        }
                    }
                    & .owl-dots {
                        position: absolute;
                        width: auto;
                        bottom: 15px;
                        padding: 0;
                        & .owl-dot {
                            width: 8px;
                            height: 8px;
                            border-radius: 5px;
                            background-color: #bcbdbd;
                            transition: all 0.3s ease-in-out;
                            margin-left: 15px;
                            &.active {
                                background-color: #ffd600;
                                width: 30px;
                            }
                        }
                    }
                }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {}

    @include media-breakpoint-down(lg) {}

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {}
// }

[data-bs-theme=dark] {
    // & [data-page-name=example] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    // }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@

